.admin_home_introduction_section {
  width: 90%;
  height: max-content;
  min-height: 300px;
  background-color: $dark-items-bg;
  margin: 0 auto;
  margin-top: 40px;
  @include flexCenter(column);
  border-radius: 15px;

  h1 {
    @include fontBoldRoboto;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
    text-align: center;
    font-size: 2rem;
  }
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
}
.admin_home_main_section {
  width: 90%;
  height: max-content;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 40px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding-bottom: 50px;
  box-sizing: border-box;
  @media (max-width: 1125px) {
    flex-direction: column;
  }
  ul {
    width: 20%;
    height: max-content;
    min-height: 100px;
    background-color: $dark-items-bg;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: sticky;
    top: 0px;
    @media (max-width: 1125px) {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: max-content;
      flex-wrap: wrap;
      position: static;
    }
    li {
      @include fontMediumRoboto;
      color: $link-txt-blue;
      font-size: 1.3rem;
      background-color: transparent;
      height: max-content;
      letter-spacing: 5px;
      margin: 10px;
      a {
        transition: 700ms;
        &:hover {
          color: aqua;
          transition: 700ms;
        }
      }
    }
  }

  .information_container {
    width: 77%;
    height: max-content;
    min-height: 200px;
    background-color: $dark-items-bg;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    @media (max-width: 1125px) {
      width: 100%;
      margin-top: 40px;
    }

    .name_container {
      width: 100%;
      height: 3rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      h2 {
        @include fontBoldRoboto;
        color: $dark-txt-grey;
        font-size: 1.4rem;
        margin-left: 1em;
      }
    }
    hr {
      width: 80%;
      margin: 0 auto;
      margin-top: 1em;
    }
    .profile_info {
      width: 100%;
      min-height: 100px;
      height: max-content;
      background-color: transparent;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
      }
      .img_box {
        width: 20%;
        min-width: 200px;
        height: 200px;
        background-color: transparent;
        border-radius: 20%;
        overflow: hidden;
        margin-left: 0.5em;
        @media (max-width: 475px) {
          min-width: 100px;
          width: 100px;
          height: 100px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .basic_info {
        width: 75%;
        height: max-content;
        min-height: 100px;
        background-color: transparent;
        margin-left: 1em;
        div {
          width: 100%;
          height: max-content;
          min-height: 3rem;
          background-color: transparent;
          display: flex;
          margin-top: 10px;
          align-items: center;
          p {
            @include fontMediumRoboto;
            color: $link-txt-blue;
          }
          span {
            margin-left: 2em;
            @include fontRegularRoboto;
            color: $dark-text-white;
            text-transform: capitalize;
            word-break: break-all;
            word-wrap: break-word;
          }
        }
      }
    }
    .member_statistic {
      width: 100%;
      height: max-content;
      background-color: transparent;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      padding: 1em;
      box-sizing: border-box;
      .title_box {
        width: 100%;
        min-height: 3rem;
        background-color: transparent;
        h2 {
          @include fontBoldRoboto;
          color: $dark-txt-grey;
          font-size: 1.4rem;
        }
      }

      .user_search_form {
        width: 80%;
        height: 3rem;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        @include flexCenter(row);
        align-items: center;
        padding: 0;
        box-sizing: border-box;
        input {
          width: 100%;
          height: 2rem;
          outline: none;
          padding: 1em;
          padding-right: 2em;
          border: $dark-txt-grey dotted 2px;
          border-radius: 10px;
          @include fontRegularRoboto;
          background-color: transparent;
          color: $dark-text-white;
        }
        button {
          cursor: pointer;
          box-sizing: border-box;
          @include flexCenter(row);
          background-color: transparent;
          border: none;
          position: static;
          margin: 0;
        }
        svg {
          // position: absolute;
          right: 20px;
          // top: 17px;
          color: $dark-text-red;
        }
      }

      .sorted_users {
        width: 80%;
        height: 3rem;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 20px;
        @include flexCenter(row);
        justify-content: space-between;

        button {
          @include fontRegularRoboto;
          width: 120px;
          height: 30px;
          background-color: $dark-txt-grey;
          margin: 0.5em;
          border-radius: 10px;
          transition: 700ms;
          border: none;
          cursor: pointer;
          &:nth-child(2) {
            background-color: $red-buttons;
            color: $dark-text-white;
            &:hover {
              background-color: $div-red-bg;
            }
          }

          &:hover {
            background-color: #3f3f50;
            transition: 700ms;
          }
        }
      }
      @include tableResponsive(870px);
      table {
        width: 100%;
        background-color: cadetblue;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        td {
          @include fontRegularRoboto;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .name {
          display: flex;
          align-items: center;
          p {
            margin-left: 0.5em;
            @include fontMediumRoboto;
          }
          .img_div {
            width: 100px;
            height: 100px;
            background-color: transparent;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        button {
          width: 30px;
          height: 30px;
          background-color: #2b2b40;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          margin: 0.5em;
          border-radius: 10px;
          transition: 700ms;
          position: relative;
          cursor: pointer;
          border: none;
          &:nth-child(2) {
            background-color: $red-buttons;
            &:hover {
              background-color: $div-red-bg;
            }
          }

          &:hover {
            background-color: #3f3f50;
            transition: 700ms;
            div {
              display: flex;
            }
          }
          div {
            width: 65px;
            height: 30px;
            background-color: $dark-heading;
            @include fontRegularRoboto;
            color: $dark-cart-txt-white;
            @include flexCenter(column);
            border-radius: 10px;
            position: absolute;
            top: -40px;
            left: -20px;
            font-size: 0.7rem;
            display: none;
          }

          svg {
            width: 50%;
            height: 50%;
            color: $dark-txt-grey;
          }
        }
      }
    }
  }
}
